<!DOCTYPE html>
<html>
<head>
  <title>Customer</title>
  <link type="text/css" rel="stylesheet" href="booking.component.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <body>
    <app-customer-navbar></app-customer-navbar>
    
    <div class="text-center mt-2" >
      <h1>
        Booking Works!
      </h1>
    </div>
  </body>
</body>
</html>
