<!DOCTYPE html>
<html>

<head>
  <title>Customer</title>
  <link type="text/css" rel="stylesheet" href="booking.component.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <body>
    <app-customer-navbar></app-customer-navbar>

    <div class=" main-content text-center mt-2">
      <h1>
        Slot Booking
      </h1>
      <div class="slot-input-box">
        <input class="form-control slot-input" value="searchdate" type="date" (change)="SendDatetoFunction($event)"
          name="date" id="date">
        <!-- <select class="form-control slot-input " (change)="SendLocationtoFunction($event)" name="location" id="locate">
          <option value="">Select Location</option>
          <option value="{{ ind.id }}" *ngFor=" let ind of locations ">{{ ind.add }} - {{ ind.city }}</option>
        </select> -->
        <!-- </div> -->
      </div>
      <div class="slot-input-box">
        <!-- <div class="row"> -->
        <!-- <input class="btn btn-lg btn-success" type="button" (click)="getdeskdetails()" value="submit" name="Submit" /> -->
        <!-- </div> -->
      </div>

      <div class="d-flex justify-content-center mt-3 ">
        <div class="row ">
          <div class="col">
            <div class="plans-container">
              <div class="desk-box" *ngFor="let ind of desk_detail;let i = index" [attr.data-index]="i">

                <div class="desk-box slot-available" *ngIf="!ind">
                  <h2>
                    Desk {{ i+1 }}
                  </h2>
                </div>
                <div class="desk-box slot-booked" *ngIf="ind">
                  <h2>
                    Desk {{ i+1 }}
                  </h2>
                </div>

              </div>

            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 100%;width: 300px;border-radius: 6px;">
              <h2 style="text-align: center;text-transform: uppercase;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;" class="card-header">
                {{ plan_detail.plan_type }}&nbsp; <span class="h5" >({{ plan_detail.plan_duration }} days)</span><br />
                <!-- <h3 style="text-transform: lowercase;">Plan for {{ plan_detail.plan_capacity }} -->
                <h3 style="text-transform: lowercase;font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;">Plan for {{ plan_detail.plan_capacity }}
                  memembers.
                </h3>
  
              </h2>
  
              <div style="text-align: center;" class="card-body">
  
                <p> 4G WiFi Facility<br /></p>
                <hr class="rounded">

                <p> Quite Working Area<br /></p>
                <hr class="rounded">

                <p>Personal Desk Area<br /></p>
                <hr class="rounded">

                <p>Get <span class="h4"> {{ plan_detail.discount }}% </span>
                  off.</p>
                  <hr class="rounded">
                <p> {{ plan_detail.address }} , {{ plan_detail.state }}<br /> </p>
                <hr class="rounded">
                <strong>{{ plan_detail.plan_price }} /-<br /></strong>
  
  
                <!-- <button type="submit" class="btn btn-primary">Book Now</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary book" data-toggle="modal" data-target="#exampleModalCenter">
        Confirm Booking
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalCenterTitle">Booking Details</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body text-left ">
              <!-- <p>Selected Slots: 1,2,3</p> -->
              <p>Duration : {{ plan_detail.plan_duration }} Days</p>
              <p>Capacity : {{ plan_detail.plan_capacity }} Member</p>
              <p>Total Price: {{ plan_detail.plan_price }} INR</p>
              <p>Location : {{ plan_detail.address }} , {{ plan_detail.state }}</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="purchaseplan()" data-dismiss="modal">Book</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</body>

</html>
