@import url('https://fonts.googleapis.com/css2?family=Coda');
@import url('https://fonts.googleapis.com/css2?family=Roboto');



.plans-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 1px;
}
.main-content{
  height: 91vh;
  overflow-y: scroll;
}
.slot-input-box{
  width: 100vw;
  /* align-items: center; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}
.slot-input{
  margin: 5px;
  width: 200px;
}
.desk-box{
  /* margin: 2px; */
  border-radius: 5px;
  padding: 0px;
  height: 70px;
  width: 90px;
}
.slot-available{
  background-color: green;
}
.slot-booked{
  background-color: red;
}


body {
  background-color: #ffffff;
  background-image: none;
  height: 100%;
}

/* Heading starts */
h1 {
  margin: 2% 2%;
  font-family: 'Coda';
  font-weight: bold;
  font-size: 250%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fc2338;
}

/* Modal Heading */
h2 {
    margin: 0%;
}

/* Slots */
.container {
  width: 40%;
  background-color: #9cdd8e;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: solid 2px #000000;
  text-align: center;
}

.demoButtons {
  margin: 3% auto;
  border: solid 2px #000000;
}

.col-3, .col-4 {
  height: 100%;
  width: 100%;
  border: solid 2px #000000;
  padding: 0%;
}

  .col-4:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  .col-4:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .col-3:first-child {
    border-top-left-radius: 10px;
  }

  .col-3:nth-child(4) {
    border-top-right-radius: 10px;
  }

/* Check Box */
input[type=checkbox] {
  display: none;
}

  input[type=checkbox] ~ label {
    width: 100%;
    display: inline-block;
    padding: 15% 0%;
    color: #ffffff;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }

  input[type=checkbox]:not(:disabled):hover ~ label {
    background-color: rgba(3, 68, 247, 0.5);
  }

  input[type=checkbox]:checked ~ label {
    background-color: rgba(3, 68, 247, 1);
  }

.booked {
    background-color: grey;
}

/* Button */
.book {
  background-color: #0060ff;
  border-radius: 10px;
  border: 0px !important;
  padding: 1%;
  margin: 2% 0%;
  letter-spacing: 0.5px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2) /*, -4px -4px 6px 0 rgba(255, 255, 255, 0.5)*/;
}

  .book:active {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2) /*, -4px -4px 6px 0 rgba(255, 255, 255, 0.5)*/;
  }

  .book:hover {
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) /*, -3px -3px 3px 0 rgba(255, 255, 255, 0.5)*/;
  }
