<html>

<head>
  <title>Admin Booking</title>
  <link type="text/css" rel="stylesheet" href="admin-booking-details.component.css" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- <app-admin></app-admin> -->
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-admin-sidenav></app-admin-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-admin-header (toggleSidebarForMe)="sideBarToggler()"></app-admin-header>
      <router-outlet></router-outlet>

      <div class="container-fluid main-content page">
        <div class="d-flex page__box p-3 mt-2 text-center h1 ">Slots Details</div>
        <div class="page__content shadow p-3 position-relative d-flex justify-content-center "
          style="display: flex;flex-direction: column;">


          <div class="d-flex justify-content-center mt-3 ">
            <div class="row ">
              <div class="col">

                <div class="h2 m-3 text-center text-primary">
                  Desks
                </div>

                <div class="plans-container">
                  <div class="desk-box" *ngFor="let ind of numSequence(location_cpacity);let i = index"
                    [attr.data-index]="i">

                    <div class="desk-box h4" (click)="get_desk_details(i+1)" >
                      Desk {{ i+1 }}
                    </div>

                  </div>

                </div>


                <div class=" w-100 m-3  text-primary">
                  <div class="w-100" style="display: flex;flex-direction: row-reverse;"  >
                    <select style="width: 200px;" (change)="set_days($event)" class="form-control" name="months" id="months">
                      <option value="1">Jan</option>
                      <option value="2">Feb</option>
                      <option value="3">Mar</option>
                      <option value="4">Apr</option>
                      <option value="5">May</option>
                      <option value="6">Jun</option>
                      <option value="7">Jul</option>
                      <option value="8">Aug</option>
                      <option value="9">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                    </select>
                  </div>

                  <div class="m-3" >
                    <div class="calender-container">
                      <div class="calender-date h6"   *ngFor="let ind of week_days;let i = index">
                        {{ ind }}
                      </div>
                      <div class="calender-date h6 "   *ngFor="let ind of numSequence(buffer_day);let i = index">
                        <!-- {{ i }} -->
                      </div>
                      <div  *ngFor="let ind of no_of_days;let i = index">
                        <div class="calender-date bg-light h6" *ngIf="!ind" >
                          {{ i+1 }}
                        </div>
                        <div class="calender-date bg-dark h6" *ngIf="ind" >
                          {{ i+1 }}
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>



        </div>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>

</body>

</html>