<!DOCTYPE html>
<html>
<head>
  <title>Customer</title>
  <link type="text/css" rel="stylesheet" href="profile.component.css" />
</head>
<body>
  <body>
    <app-customer-navbar></app-customer-navbar>
    <div class="modal-dialog">
      <div class=" col-sm-18 main-section">
        <div class="modal-content" style="margin-top: 10%;">

          <div class="login text-center ">
            <p style="font-size: 36px;">USER PROFILE</p>
          </div>

          <div class=" col-12">
            <div class="form-group">
              <p>Name</p>
              <input type="text" class="form-control" value="{{ name }}" disabled>

              <p>Email</p>
              <input type="text" class="form-control" value="{{ email }}" disabled>

              <p>Contact</p>
              <input type="text" class="form-control" value="{{ mobileno }}" disabled>

              <!--<p>Address</p>
  <input type="text" class="form-control" name="name" value="India" autocomplete="off" required disabled>

  <div class="row">
    <div class=" col-3">Name</div>
    <div class=" col-4" [innerHTML]="name"></div>
  </div>
  <div class="row">
    <div class="col-3">Email</div>
    <div class="col-4" [innerHTML]="email"></div>
  </div>
  <div class="row">
    <div class="col-3">Mobile No</div>
    <div class="col-4" [innerHTML]="mobileno"></div>
  </div>
   <a href="#">Reset Password</a> -->

            </div> 
          </div>
        </div>
      </div>
    </div>
  </body>
</body>
</html>
