<!DOCTYPE html>
<html>
<head>
  <title>Customer</title>
  <link type="text/css" rel="stylesheet" href="profile.component.css" />
</head>
<body>
  <body>
    <app-customer-navbar></app-customer-navbar>
    <div class="modal-dialog text-center">
      <div class="col-sm-18 main-section">
        <div class="modal-content" style="margin-top: 10%;">

          <div class="login">
            <p style="font-size: 36px;">USER PROFILE</p>
          </div>

          <div class="col-12 form-input">
            <div class="form-group">

              <p>Name</p>
              <input type="text" class="form-control" name="name" value="Yash Kavaiya" autocomplete="off" required disabled>

              <p>Email</p>
              <input type="text" class="form-control" name="name" value="abc@xyz.com" autocomplete="off" required disabled>

              <p>Contact</p>
              <input type="text" class="form-control" name="name" value="+910000000000" autocomplete="off" required disabled>

              <p>Address</p>
              <input type="text" class="form-control" name="name" value="India" autocomplete="off" required disabled>

              <a href="#">Reset Password</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</body>
</html>
