<mat-nav-list style="background-color:rgb(19, 57, 209);">
    <div class="logo py-4">
      <img src="./assets/logo.JPG" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2">Welcome, Admin</h1>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/profile">
      <mat-icon>person</mat-icon> PROFILE
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
      <mat-icon>view_comfy</mat-icon> SLOTS DETAILS
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/plans">
      <mat-icon>local_library</mat-icon> PLANS
    </a>
    <a mat-list-item routerLinkActive="list-item-active" >
      <mat-icon>insert_chart</mat-icon> EARNING STATISTICS
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/userdetails">
      <mat-icon>format_list_bulleted</mat-icon> USER DETAILS
    </a>
  
  </mat-nav-list>
  