:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
}
.mat-nav-list{
    height: 100%;
}
.logo {
    text-align: center;
    padding: 2.6rem 1rem;
}
.logo img {
    width: 200px;
}
.mat-divider {
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item {
    color: #ffffff !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
}
.mat-list-item:hover {
    color: rgb(40, 83, 255)!important;
}
.mat-list-item ::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 8px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
    background: #ffffff !important;
}
.list-item-active {
    color:rgb(40, 83, 255) !important;
}
.list-item-active ::ng-deep .mat-list-item-content {
    background: #ffffff !important;
}
.list-item-active ::ng-deep .mat-list-item-content:hover {
    background: #ffffff !important;
}
.mat-subheader {
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: 400;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
