<link rel="stylesheet" href="navbar.component.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/login-component" > Workspace</a>
  <div class="spacer"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/home-component">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutus-component">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/plans-component">Plans</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  routerLink="/login-component" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login/Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">History Plans</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- <mat-toolbar >
    <link rel="stylesheet" href="navbar.component.css">
    
    <span><a routerLink="/home-component">WorkSpcae</a> </span>

    <div class="spacer"></div>
    <a mat-button routerLink="/home-component">>Home</a>
    <a mat-button routerLink="/home-component">About Us</a>
    <a mat-button routerLink="/home-component">Plans</a>
    <a mat-button routerLink="/signup-component">Login/SignUp</a>
  </mat-toolbar>  -->