    <div class="popup">
        <h2>DESK 1 Details:</h2>
        <a class="close" routerLink="/admin/dashboard">&times;</a>
        <div class="content">
            <table [border]="1" cellpadding="5" cellspacing="5">
                <tr>
                    <th>User Name:</th>
                    <td>xyz abc</td>
                </tr>
                <tr>
                    <th>Contact No.:</th>
                    <td>9876543210</td>
                </tr>
                <tr>
                    <th>E-mail:</th>
                    <td>xyzabc@gmail.com</td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td>Jamnagar</td>
                </tr>
                <tr>
                    <th>Plan Name:</th>
                    <td>Mini Pack</td>
                    <td>Xghvdbwifb jhfbndjkw ehbft gvdehgwbd uydbjs.</td>
                </tr>
                <tr>
                    <th>Plan Validity:</th>
                    <td>28days( 8 days left)</td>
                </tr>

            </table>
        </div>
    </div>
