    <div class="popup">
        <h2 style="text-align: center;font-size:30px;font-weight: 3;">DESK 1 Details:</h2>
        <a class="close" routerLink="/admin/dashboard">&times;</a>
        <div class="content">
            <table [border]="2" cellpadding="9" cellspacing="9">
                <tr>
                    <th>User Name:</th>
                    <td>xyz abc</td>
                </tr>
                <tr>
                    <th>Contact:</th>
                    <td>9876543210</td>
                </tr>
                <tr>
                    <th>E-mail:</th>
                    <td>xyzabc@gmail.com</td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td>Jamnagar</td>
                </tr>
                <tr>
                    <th>Plan Name:</th>
                    <td>Mini Pack</td>
                    <td>Xghvdbwifb jhfbndjkw ehbft gvdehgwbd uydbjs.</td>
                </tr>
                <tr>
                    <th>Validity:</th>
                    <td>28days( 8 days left)</td>
                </tr>

            </table>
        </div>
    </div>
