<!DOCTYPE html>
<html>
<head>
  <title>Customer</title>
  <link type="text/css" rel="stylesheet" href="history.component.css" />
</head>
<body>
  <body>
    <app-customer-navbar></app-customer-navbar>
    <h1 style="text-align: center;">Plan History</h1>

    <div class="card">
      <h2 class="card-header">
        <div style="display: flex; justify-content: space-between">
          <span>Mini Pack</span>
          <span>399/Month</span>
        </div>
      </h2>

      <div class="card-body">
        <p>
          Plan Details <br />
          Expired on: 27th February, 2022
        </p>
      </div>
    </div>

    <div class="card">
      <h2 class="card-header">
        <div style="display: flex; justify-content: space-between">
          <span>Mini Pack</span>
          <span>399/Month</span>
        </div>
      </h2>

      <div class="card-body">
        <p>
          Plan Details <br />
          Expired on: 27th January, 2022
        </p>
      </div>
    </div>
  </body>
</body>
</html>
