@import url('https://fonts.googleapis.com/css2?family=Coda');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
  background-color: #ffffff;
  background-image: none;
  height: fit-content;
}

/* Heading starts */
h1 {
  margin: 2% 2%;
  font-family: 'Coda';
  font-weight: bold;
  font-size: 250%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fc2338;
}

.h6 {
  text-shadow: none !important;
  font-size: 60%;
  font-weight: bold;
}
/* Heading ends */

/* Card starts*/
.card {
  border-radius: 15px !important;
  background-color: rgba(3, 68, 247, 0.2) !important;
  margin: 2% 7%;
  border: 3px solid rgba(3, 68, 247, 1) !important;
  backdrop-filter: blur( 4px );
}

.card-header {
  background-color: rgba(3, 68, 247, 1);
  margin: -2px;
  padding: 1% 2% !important;
  border-radius: 15px !important;
  font-size: 200%;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.card-body {
  padding: 2% !important;
  font-size: 120%;
  text-align: center;
}

#active-plan {
  text-align: left;
}
/* Card ends*/
