<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="login.component.css">
<title> Login Screen</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" >
          <input [(ngModel)]="username" type="text" placeholder="Username" name="user"/>
          <!-- <div [innerHTML]="username"></div> -->
          <input [(ngModel)]="password" type="password" placeholder="Password" name="password" />
          <!-- <div [innerHTML]="password"></div> -->
          <button (click)="login_fun()" >login</button>
          <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
</html>
  