<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="login.component.css">
<title> Login Screen</title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form">
          <input type="text" placeholder="Username"/>
          <input type="password" placeholder="Password"/>
          <button>login</button>
          <p class="message">Not registered? <a routerLink="/register-component">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>

