<html>

<body>
    <mat-drawer-container>
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-admin-sidenav></app-admin-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            <app-admin-header (toggleSidebarForMe)="sideBarToggler()"></app-admin-header>
            <router-outlet></router-outlet>
            <div class="container-fluid page main-content page">
                <div class="d-flex page__box p-3 mt-2 text-center h1 ">Plans Details</div>
                <div class="page__content shadow p-3 position-relative d-flex justify-content-center "
                    style="display: flex;flex-direction: column; ">
                    <div class="ScrollStyle">
                        <div class="plans" *ngFor="let ind of plans; index as i" [ngClass]="{'active': i==0}">

                            <div class="card">

                                <h2 class="card-header">
                                    <div style="display: flex; justify-content: space-between">
                                        <span>{{ ind.plan_name }} <span class="h6">({{ ind.duration }}
                                                days)</span></span>
                                        <span>599/-</span>
                                    </div>
                                </h2>

                                <div class="card-body">

                                    <p id="active-plan">
                                        Description: Includes personal desk , unlimited WIFI facility and a
                                        prefect working
                                        atmosphere.
                                        <br />
                                        Capacity : {{ ind.capacity }} Memember/s.
                                        <br />
                                    </p>
                                    <h2 style="text-align: left;padding-left:30px;font-weight: 700;font-style: italic;">
                                        GET {{ ind.discount }} % OFF ON SUBSCRIPTION.</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </mat-drawer-content>
    </mat-drawer-container>
</body>

</html>