@import "../admin-home/admin-home.component.css";
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 100%;
    margin: 10px auto;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:rgb(88, 127, 236) ;
    padding: 12px 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    opacity: 1;
    border-radius: 9px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #101011;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 30%;
    padding-left: 10px;
    text-align: left;
    border-right: 1px solid #000000;
    vertical-align: middle;
}
.first-cell{
    text-align: center;
    padding-left: 6px;
}

.last-cell{
    border-right: none;
}

h3{
    text-decoration: none;
    text-align: center;
    font-size: medium;
}

p{
  padding-left: 20px;
  text-align: left;
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 20px;
  }
}

/* Card starts*/
.card {
  border-radius: 15px !important;
  background-color: rgba(3, 68, 247, 0.2) !important;
  margin: 0% 0% 2%;
  border: 3px solid rgba(3, 68, 247, 1) !important;
  backdrop-filter: blur( 4px );
  margin-top: 5px;
  width: 100%;
}

.card-header {
  background-color: rgba(3, 68, 247, 1);
  margin: -2px;
  padding: 1% 2% !important;
  border-radius: 15px !important;
  font-size: 100%;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 1;
}

.card-body {
  padding: 2% !important;
  font-size: 120%;
  text-align: center;
  height: fit-content;
  line-height: 1.5;

}

#active-plan {
    text-align: left;
    line-height: 2;
}

.ScrollStyle
{
    max-height: 530px;
    overflow-y: scroll;
}
