<html>

<body>
    <mat-drawer-container>
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-admin-sidenav></app-admin-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            <app-admin-header (toggleSidebarForMe)="sideBarToggler()"></app-admin-header>
            <router-outlet></router-outlet>

            <div class="container-fluid main-content page">
                <div class="d-flex page__box h1 p-3 pl-3 mt-2">Plans</div>
                <div class="page__content h-auto shadow pt-3 position-relative  d-flex justify-content-center ">
                    <div class="plans-container w-100 ">
                        <div class="card ml-3 " style="width: 250px;margin: 5px;" *ngFor="let ind of plans">
                            <div class="plan-badge align-middle" >
                                30%
                            </div>
                            <div class="card-header bg-dark">
                                <p>{{ ind.plan_name }}</p>
                            </div>
                            <div class="card-body">
                                <p>
                                    Description:
                                    <br>
                                    Capacity : {{ ind.capacity }}
                                    <br>
                                    Duration : {{ ind.duration }} Days
                                    <br>
                                    Discount : {{ ind.discount }} %
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://youtu.be/99vHH_6F0Ko">Rs399</a>
                            </div>
                        </div>

                        <!-- <div class="table-row">
                        <div class="table-cell first-cell">
                            <p>MINI PACK</p>
                        </div>
                        <div class="table-cell">
                            <p>Description: <br>For 28 days<br>4G Wifi<br>guefhbskxzgfeibkdsjxzigkjbscwtfquavs </p>
                        </div>
                        <div class="table-cell last-cell">
                            <a href="https://youtu.be/99vHH_6F0Ko">Rs399</a>
                        </div>
                    </div> -->
                        <!-- <div class="table-row">
                        <div class="table-cell first-cell">
                            <p>MINI PACK1</p>
                        </div>
                        <div class="table-cell">
                            <p>Description: <br>For 56 days<br>4G Wifi<br>guefhbskxzgfeibkdsjxzigkjbscwtfquavs </p>
                        </div>
                        <div class="table-cell last-cell">
                            <a href="https://youtu.be/99vHH_6F0Ko">Rs599</a>
                        </div>
                    </div> -->
                        <!-- <div class="table-row">
                        <div class="table-cell first-cell">
                            <p>MINI PACK2</p>
                        </div>
                        <div class="table-cell">
                            <p>Description: <br>For 128 days<br>4G Wifi<br>guefhbskxzgfeibkdsjxzigkjbscwtfquavs </p>
                        </div>
                        <div class="table-cell last-cell">
                            <a href="https://youtu.be/99vHH_6F0Ko">Rs1599</a>
                        </div>
                    </div> -->
                        <!-- <div class="table-row">
                        <div class="table-cell first-cell">
                            <p>MAHA PACK</p>
                        </div>
                        <div class="table-cell">
                            <p>Description: <br>For 258 days<br>4G Wifi<br>guefhbskxzgfeibkdsjxzigkjbscwtfquavs </p>
                        </div>
                        <div class="table-cell last-cell">
                            <a href="https://youtu.be/99vHH_6F0Ko">Rs3999</a>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</body>

</html>