<!-- <app-navbar></app-navbar>
<a routerLink="/login-component"><h2 style="color:rgb(255, 255, 255);text-align:left">HOME WORKS</h2></a> -->
<!-- <a routerLink="/login-component"><h2 style="color:rgb(255, 255, 255);text-align:left">HOME WORKS</h2></a> -->
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="home.component.css">
	<title>
		Subscription Plan Model
	</title>
</head>

<body>
    <app-navbar></app-navbar>
	<!-- <nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="logo.png">
			</div>
			<li><a href="#web">Web Technology</a></li>
			<li><a href="#program">C Programming</a></li>
			<li><a href="#course">Courses</a></li>
		</ul>

		<div class="rightNav">
			<input type="text" name="search" id="search">
			<button class="btn btn-sm">Search</button>
		</div>
	</nav> -->

	<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="text-big" id="web">
					Welcome to Workspace
				</h1>
				
				<p class="text-small">
					"Find flexible Workspace on a single click. Here is the best plan model for you...""
				</p>


			</div>
		</div>
	</section>

	<section class="secondsection">
		<div class="box-main">
			<div class="secondHalf">
				<h1 class="text-big" id="program">
				 Plans
				</h1>
                <!-- <app-register></app-register> -->
				<p class="text-small">
					Plan 1
				</p>


			</div>
		</div>
	</section>

	<section class="section">
		<div class="paras">
			<h1 class="sectionTag text-big">About Us/Contact Us</h1>

			<p class="sectionSubTag text-small">
				Reach Us Through:
                Contact No. : 6497289042
                Email-Id    : workspace@gmail.component

			</p>


		</div>
	</section>
</body>

</html>
