<!DOCTYPE html>

<html>

<head>
	<title>
		Subscription Plan Model
	</title>
	<link rel="stylesheet" href="home.component.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
</head>

<body>

	<!-- Navbar -->
	<app-navbar></app-navbar>
	
	<!-- Homesection -->
	<section id="home" class="homesection">
		<div class="box-main">
			<div class="firstHalf">
				<table>
					<div class="banner">
						<tr>
							<div class="app-text">

								<td>
									<h3>Enhance your work style.</h3>
									<h1>WELCOME TO<br>WORKSPACE.</h1>
									<div class="btn-group">
										<div class="signup-btn"><a style="text-decoration: none;color: black;" href="register" >Sign up now</a></div>
									</div>
								</td>

								<td>
									<div class="app-picture">
										<img src="./assets/workspace1.webp" />
										<p>
											"WORK FROM HOME THE FUTURE TREND ,
											WORKSPACE THE FUTURE DEMAND."
										</p>
									</div>
								</td>
							</div>
						</tr>
					</div>

				</table>

			</div>
		</div>
	</section>

	<section id="aboutus" class="aboutussection">
		<div class="box-main">
			<div class="secondHalf pb-3 ">
				<table>
					<div class="aboutus-banner">
						<tr>
							<div class="aboutus-text">

								<td>
									<div class="aboutus-picture">
										<h1>ABOUT<br>WORKSPACE</h1>

										<img src="./assets/aboutus1.jpg" />

									</div>
								</td>

								<td>

									<h3>"As we believe better workspace brings out better work outcomes."</h3>
									<p>
										Workspace provides the best solution for work home
										come office atmosphere by overcoming all the obstacles
										one faces while working at their own place just by
										subscribing the prefect plan and enjoy all the benefits
										which they wish while working at their office.
									</p>
									<p>
										Find flexible Workspace on a single click. Here is the best plan model for
										you...
									</p>
								</td>
							</div>
						</tr>
					</div>
				</table>
			</div>

		</div>
	</section>


	<section id="plans" class="planssection">
		<div class="thirdHalf"></div>
		<div class="plans-text">
			<h1>Recommended Plans</h1>
		</div>
		<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
			(init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
			(beforeChange)="beforeChange($event)">
			<div ngxSlickItem class="slide " *ngFor="let ind of available_plans">
				<div class="card" style="height: 100%;width: 300px;border-radius: 6px;">
					<h2 style="text-align: center;text-transform: uppercase;font-weight: 800;" class="card-header">
						{{ ind.plan_name }}&nbsp; <span class="h5" >({{ ind.duration }} days)</span><br />
						<h3 style="text-transform: lowercase;font-style: italic;">Plan for {{ ind.capacity }}
						  memembers.
						</h3>
		  
					  </h2>

					<div style="text-align: center;" class="card-body">

						<p> 4G WiFi Facility<br /></p>
						<hr class="rounded">
						<p> Quite Working Area<br /></p>
						<hr class="rounded">
						<p>Personal Desk Area<br /></p>
						<hr class="rounded">



						<p> Enjoy for {{ ind.duration }} days<br /> </p>
						<hr class="rounded">
						<p style="font-style: italic;font-weight: 700;">Get {{ ind.discount }}%
							off.</p>
						<hr class="rounded">



						<button type="submit" class="btn btn-primary">Book Now</button>
					</div>
					<!-- Buttons -->
					<!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a> -->
				</div>
			</div>

		</ngx-slick-carousel>
	</section>

	<section id="contactus" class="contactussection">
		<div class="box-main">
			<div class="fourthHalf">
				<div class="contactus-text">
					<h1 style="text-align: center;">CONTACT US</h1>
					<form action="//submit.form" id="ContactUs100" method="post">
						<script type="text/javascript">
							function ValidateForm(frm) {
								if (frm.Name.value == "") { alert('Name is required.'); frm.Name.focus(); return false; }
								if (frm.FromEmailAddress.value == "") { alert('Email address is required.'); frm.FromEmailAddress.focus(); return false; }
								if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.FromEmailAddress.focus(); return false; }
								if (frm.Comments.value == "") { alert('Please enter comments or questions.'); frm.Comments.focus(); return false; }
								return true;
							}
						</script>
						<table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
							<tr>
								<td>
									<label style="color: white;font-size: large;" for="Name">Name:</label>
								</td>
								<td>
									<input name="Name" type="text" maxlength="60" placeholder="Username"
										style="width:100%;max-width:250px;border-radius: 5px;" />
								</td>
							</tr>
							<tr>
								<td>
									<label style="color: white;font-size: large;" for="PhoneNumber">
										Contact
										number:
									</label>
								</td>
								<td>
									<input name="PhoneNumber" type="text" maxlength="43" placeholder="Contact Number"
										style="width:100%;max-width:250px;border-radius: 5px;" />
								</td>
							</tr>
							<tr>
								<td>
									<label style="color: white;font-size: large;" for="FromEmailAddress">
										Email
										address:
									</label>
								</td>
								<td>
									<input name="FromEmailAddress" type="text" maxlength="90"
										placeholder="Email Address"
										style="width:100%;max-width:250px;border-radius: 5px;" />
								</td>
							</tr>
							<tr>
								<td>
									<label style="color: white;font-size: large;" for="Comments">Comments:</label>
								</td>
								<td>
									<textarea name="Comments" placeholder="Write your comments here." rows="5" cols="40"
										style="width:100%;max-width:350px;border-radius: 5px;"></textarea>
								</td>
							</tr>
							<tr>
								<td>

									<div class="btn-submit">
										<div class="submit-btn">SUBMIT</div>
									</div>
									<script src="https://www.100forms.com/js/FORMKEY:5CLYMWS8UNHM/SEND:my@email.com"
										type="text/javascript"></script>
								</td>
							</tr>
							<tr>
								<div class="contact-icons">

									<a href='#'>
										<i class="fas fa-envelope-open"></i>
									</a>
									<a href='#'>
										<i class="fab fa-facebook"></i>
									</a>
									<a href='#'>
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</tr>
						</table>
					</form>
				</div>
			</div>

		</div>

	</section>


	<footer id="footer">
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong><span>Workspace</span></strong>. All Rights Reserved
			</div>
		</div>
	</footer>
</body>

</html>
