@import url('https://fonts.googleapis.com/css2?family=Coda');

	.box-main {
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		max-width: 80%;
		margin: auto;
		height: 80%;
	}

	/* home page*/
	.homesection {
		background-color: rgb(253, 253, 253);
		height: 100%;
	}

	.firsthalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
.banner{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 25%;
    left: 150px;
    color: #fff;
}

.app-text{
    width: 50%;
    float: left;
    padding-left: 50px;
}

.app-text h3{
    margin-top: 40px;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.app-text h1{
	font-size: 51px;
    position: relative;
    color: #000;
    margin-top: 30px;
    font-weight: 700;
    line-height: 1;
    
}

.app-text p{
    font-size: 19px;
    margin: 30px 0px 30px 0;
    letter-spacing: 1px;
    color: #000;
    padding-right: 150px;
}

.btn-group{
    display: flex;
    width: 100%;
    position: relative;
}

.btn-group .signup-btn{
    cursor: pointer;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 32px;
    background-color: #ffa037;
    padding: 15px 50px;
}


.app-picture {
	padding-left: 70px;
	align-content: center;

}

.app-picture p{
	padding-left: 60px;
}

/* aboutus */

.aboutussection {
	background-color:rgb(3, 68, 247);
	height: 550px;
}

.secondhalf {
	width: 30%;
}
.aboutus-banner{
    height: fit-content;
}
.aboutus-text h1{
    font-size: 40px;
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-weight: 150;
    line-height: 1.5;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
	
}
.aboutus-text h3{
    font-size: 19px;
	margin: 10px 70px 30px 50px;
	padding-right: 150px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 2px;
	font-weight: bold;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.aboutus-text p{
	width: 80%;
    font-size: 20px;
    margin: 30px 70px 30px 50px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding-right: 150px;
	font-family: 'Times New Roman', Times, serif;
}

.aboutus-picture h1{
	padding-top: 100px;
}
.aboutussection .aboutus-picture {
	padding-left: 180px;
	padding-right: 80px;
	padding-top: 10px;
	
}
	/*recommended plans cards*/
	.planssection{
		background-color: rgb(255, 255, 255);
		height: 700px;
	}

	.plans-text h1{
		font-size: 40px;
		text-align: center;
		color: rgb(3, 68, 247);
		margin-top: 30px;
		font-weight: 150;
		line-height: 1.5;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		
		
	}
	.card {
	  border-radius: 15px !important;
	  background-color: rgba(255,255,255, 0.3) !important;
	  margin: 3% 7%;
	  border: 3px solid rgb(40, 26, 223) !important;
	  backdrop-filter: blur( 4px );
	}
	
	.card-header {
	  background-color: white;
	  margin: -2px;
	  padding: 1% 2% !important;
	  border-radius: 15px !important;
	  font-size: 200%;
	  font-family: Coda;
	  font-weight: bold;
	  text-shadow: 2px 2px 2px grey;
	  text-transform: uppercase;
	  text-align: center;
	}
	
	.card-body {
	  padding: 2% !important;
	  font-size: 120%;
	  text-align: center;
	}

/*contactus section*/
.contactussection{
	background-color: rgb(3, 68, 247);
	height: 600px;
}

.contactus-text h1{
    font-size: 40px;
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-weight: 100;
    line-height: 1.5;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contact-icons a{
	color: white;
	font-size:30px;
	margin-left:20px;
	
}
.btn-submit{
    display: flex;
    width: 100%;
    position: relative;
}

.btn-submit .submit-btn{
    cursor: pointer;
    display: block;
    color:rgb(3, 68, 247);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 32px;
    background-color: #ffffff;
    padding: 15px 50px;

}

/* plans details */

.thirdhalf {
	height: 800px;
	width: 100%;
}

.plans-container{
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }



 /*footer*/
 #footer {
	background: #e9e8e6;
	padding: 30px 0;
	color: #222222;
	font-size: 14px;
	text-align: center;
  }
  #footer .credits {
	padding-top: 5px;
	font-size: 13px;
  }
  #footer .credits a {
	color: #34b7a7;
  }

  