<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="register.component.css">
<title> Register Screen</title>
</head>
<body>
  <body>
    <app-navbar></app-navbar>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>REGISTER</h3>
            <p>Please enter your details to register.</p>
          </div>
        </div>
        <form class="login-form">
          <input [(ngModel)]="username" name="username" type="text" placeholder="Username"/>
          <input [(ngModel)]="name" name="name" type="text" placeholder="Name"/>
          <input [(ngModel)]="email" name="email" type="text" placeholder="E-mail"/>
          <input [(ngModel)]="mobileno" name="mobileno" type="text" placeholder="Contact No."/>
          <!-- <input [(ngModel)]="address" name="address" type="text" placeholder="Address"/> -->
          <input [(ngModel)]="password" name="password" type="password" placeholder="Password"/>
          <input [(ngModel)]="confirm_password" name="Confirm_password" type="password" placeholder="Confirm Password"/>
          <button (click)="user_registration()" >REGISTER</button>
          <p class="message">Already have an account? <a routerLink="/login">Log in</a></p>
        </form>
      </div>
    </div>
  </body>
</body>
</html>
