<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="register.component.css">
<title> Register Screen</title>
</head>
<body>
  <body>
    <app-navbar></app-navbar>

    <div class="modal-dialog text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          <div class="login">
            <p>REGISTER</p>
          </div>

          <div class="col-12 form-input">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="username" name="username" type="text" placeholder="Username" />
              <input class="form-control" [(ngModel)]="name" name="name" type="text" placeholder="Name" />
              <input class="form-control" [(ngModel)]="email" name="email" type="text" placeholder="E-mail" />
              <input class="form-control" [(ngModel)]="mobileno" name="mobileno" type="text" placeholder="Contact No." />
              <!-- <input [(ngModel)]="address" name="address" type="text" placeholder="Address"/> -->
              <input class="form-control" [(ngModel)]="password" name="password" type="password" placeholder="Password" />
              <input class="form-control" [(ngModel)]="confirm_password" name="Confirm_password" type="password" placeholder="Confirm Password" />
              <button type="submit" id="login_btn" class="btn btn-success" (click)="user_registration()">REGISTER</button>

              <p>Already have an account?
                <a routerLink="/login">Click here to Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</body>
</html>
