@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Coda);

body {
  font-family: "Roboto", sans-serif;
  height: auto;
}

/*LOGIN Starts*/

.main-section {
  text-align: center !important;
  margin: auto;
  width: 80%;
}

.modal-content {
  background-color: rgba(3, 68, 247, 0.4) !important;
  opacity: 1;
  margin-top: 25%;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25) /*, -4px -4px 6px 0 rgba(255, 255, 255, 0.5)*/;
  border-radius: 25px !important;
  border: 0px !important;
  backdrop-filter: blur( 4px );
  padding: 5%;
  font-size: 14px;
}

.login p {
  margin: 15px 0px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #00000070;
  font-family: Coda;
}

.form-input {
  padding: 3%;
}

.form-group input {
  height: 42px;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 1px;
  box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.15), inset -3px -3px 4px 0 rgba(255, 255, 255, 0.5);
}

  .form-group input::placeholder {
    color: #c0c0c0;
  }

.form-group button {
  width: 100%;
  display: inline-block;
  margin: 2% 0% 7%;
}

#login_btn {
  background-color: #0060ff;
  border-radius: 10px;
  border: 0px !important;
  padding: 5px 10px;
  letter-spacing: 1px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2) /*, -4px -4px 6px 0 rgba(255, 255, 255, 0.5)*/;
}

  #login_btn:active {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2) /*, -4px -4px 6px 0 rgba(255, 255, 255, 0.5)*/;
  }

  #login_btn:hover {
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2) /*, -3px -3px 3px 0 rgba(255, 255, 255, 0.5)*/;
  }

/*LOGIN Ends*/
